
body{
    font-size: 14px;
    margin: 0;padding: 0;
    position: relative;
    height: 100%;
    background: #ebebeb;
}
html,#app{
    height: 100%;
}
*{
    box-sizing:border-box; 
}
ul,li,h5,h4,h3,p{
    margin: 0;padding: 0;
    list-style: none; 
}

a{
    text-decoration: none;
    color: #333;
}

